.App {
  background-color: #d7e1ee;
  width: 100vw;
  min-height: 100vh;
  font-family: "Outfit", sans-serif !important;
}

.root {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
